<div id="staticpages">
<%= form_with method: :get, url: staticpages_path do |form| %>
    <%= form.label :flickr_id, "Enter a flickr user id: "%>
    <%= form.text_field :flickr_id, placeholder: "197774467@N07" %>
    <%= form.submit "Search" %>
<% end %>
<% begin %>
    <% @photo_urls.each do |url| %>
        <%= image_tag Flickr.url_q(url) %>
    <% end %>
<% rescue StandardError => e %>
<% end %>
</div>
