<p style="color: green"><%= notice %></p>

<%= render @staticpage %>

<div>
  <%= link_to "Edit this staticpage", edit_staticpage_path(@staticpage) %> |
  <%= link_to "Back to staticpages", staticpages_path %>

  <%= button_to "Destroy this staticpage", @staticpage, method: :delete %>
</div>
